= form_for post do |f|
  .panel.panel-default
    .panel-heading
      - if post.new_record?
        %h2 Create new post
      - else
        %h2 Edit this post
    .panel-body
      = render 'layouts/errors', target: post
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control', rows: 8

    .panel-footer
      .text-right
        = link_to posts_path, class: 'btn btn-warning' do
          Cancel
          %span.glyphicon.glyphicon-remove

        = button_tag class: 'btn btn-primary' do
          Save
          %span.glyphicon.glyphicon-ok