!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Super nice blog
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .blog-masthead
      .container
        %nav.blog-nav
          = link_to root_url, class: 'blog-nav-item' do
            .glyphicon.glyphicon-home
            Home

    .container
      .row
        .col-sm-12.blog-main
          - flash.each do |name, msg|
            .alert(class="alert-#{name}")
              %button.close(data-dismiss='alert')
                %span &times;
              = msg

          = yield

    %footer.blog-footer
      %p
        This is a blog built by
        = link_to "Jeff Perrin", 'http://jeffperrin.com'
        to demo some features of Turbolinks
